{% extends 'base.html.twig' %}

{% block title %}Entreprise - Vitrine
{% endblock %}

{% block body %}
	{% if factory %}
		{{component("showCaseComponent" , {factory: factory})}}
	{% else %}
		<h1>Aucune information ne correspond à cette entreprise</h1>
	{% endif %}
{% endblock %}
