{% extends 'base.html.twig' %}

{% block title %}Pakadan | Admin | Category | Edit
{% endblock %}
{% block description %}

{% endblock %}
{% block body %}
    <div class="container_new_item">
        <h3>Modifier la catégorie</h3>
        <div class="container_form">
            {{ form_start(form, {'method': 'POST'}) }}
                {{ form_widget(form) }}
                <div class="input_submit">
				    <button type="submit">Modifier</button>
			    </div>
            {{ form_end(form) }}
        </div>
    </div>
	
{% endblock %}