{% extends 'base.html.twig' %}

{% block title %}Pakadan | Page d'accueil
{% endblock %}

{% block body %}
	<div class="container_sections_home_page">
		<section class="pubs_section">
			{# <div class="image_pub_section">
				<img src="/images/shoes3o.jpg" alt="image pub">
			</div>
			<div class="description_pub_section">
				<h2>Chaussures de qualité</h2>
				<h4>Trouvez votre parfaite paire de chaussures pour hommes</h4>
				<div class="web_site_link">
					<div class="name_web_site">
						<a href="">Joemeri</a>
					</div>
					<div class="link_web_site">
						<a href="">Ouvrir</a>
					</div>
				</div>
			</div> #}
			<div class="left_part">
				<h1>Pakadan</h1>
				<h3>Une plateforme de reservation d'espace vitrine pour les entreprises et les particuliers</h3>

				<div class="description">
					<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt consectetur perferendis quaerat accusamus rerum. Possimus unde impedit error at ratione ducimus iure hic, asperiores corporis provident quasi accusamus, placeat mollitia.</p>
				</div>
				<div class="contact_us">
					<a href="">Contactez-nous</a>
				</div>
			</div>
			<div class="right_part">
				<div class="image">
					<img src="/images/computer.jpg" alt="">
				</div>
			</div>
		</section>

		<section class="top_factories_section">
			<div class="title">
				<h2>Top entreprises</h2>
				<div class="line"></div>
			</div>
			<div class="container_top_factories">
				{% for item in range(1,7,1) %}
					<div class="top_factory">
						<div class="header">
							<div class="image">
								<img src="/images/factory{{item}}.jpg" alt="factory image">
							</div>
							<h3>Factory</h3>
						</div>
						<div class="description">
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus repellat aspernatur ea accusamus</p>
						</div>
                        <div class="btn_visit">
                            <a href="{{path('app_show_case')}}">Vitrine</a>
                        </div>
					</div>
				{% endfor %}
			</div>
			{# <div class="container_top_factories swiper">
							<div class="swiper-wrapper">
								{% for item in range(1,22,1) %}
									{% if item == 9 or item == 13 %}
										{% else %}
			                            
											<div class="image swiper-slide">
												<img src="/images/factory{{item}}.jpg" alt="factory image">
												<span>Factory</span>
											</div>
									{% endif %}
								{% endfor %}
							</div>
						</div> #}
		</section>

		<section class="first_section">
			<div class="left_part">
				<div class="image">
					<img src="/images/imageSection.jpg" alt="">
				</div>
			</div>
			<div class="right_part">
				<div class="title">
					<h2>Qu'est-ce qu'un espace vitrine</h2>
					<div class="line"></div>
				</div>
				<div class="description">
					<p class="paragraph1">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit delectus numquam magnam eos, molestiae nihil dolores tenetur quam quo voluptatum laboriosam? Reprehenderit impedit laudantium aperiam magnam veritatis error, reiciendis fuga.
					</p>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit delectus numquam magnam eos, molestiae nihil dolores tenetur quam quo voluptatum laboriosam? Reprehenderit impedit laudantium aperiam magnam veritatis error, reiciendis fuga.
					</p>
				</div>
				<div class="btn_action">
					<a href="#">Nous contacter</a>
				</div>
			</div>
		</section>

		<section class="first_section">
			<div class="right_part">
				<div class="title">
					<h2>Pourquoi créer un espace vitrine</h2>
					<div class="line"></div>
				</div>
				<div class="description">
					<p class="paragraph1">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit delectus numquam magnam eos, molestiae nihil dolores tenetur quam quo voluptatum laboriosam? Reprehenderit impedit laudantium aperiam magnam veritatis error, reiciendis fuga.
					</p>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit delectus numquam magnam eos, molestiae nihil dolores tenetur quam quo voluptatum laboriosam? Reprehenderit impedit laudantium aperiam magnam veritatis error, reiciendis fuga.
					</p>
				</div>
				<div class="btn_action">
					<a href="#">Nous contacter</a>
				</div>
			</div>
			<div class="left_part">
				<div class="image">
					<img src="/images/imageSection5.jpg" alt="">
				</div>
			</div>

		</section>

		<section class="second_section">
			<div class="title">
				<h2>Nos engagements pour la reservation de votre espace vitrine</h2>
				<div class="line"></div>
				<p class="title_description">
					Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste explicabo enim ad nulla modi, provident corrupti mollitia, in excepturi deserunt impedit fugit perferendis aspernatur at. Quo sunt officia ipsa id.
				</p>
			</div>
			<div class="container_items">
				{% for item in range(1,8,1) %}
					<div class="item">
						<div class="left_part">
							<svg width="80px" height="80px" version="1.1" baseprofile="tiny" id="svg-6601c1145e9fc" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 164.5 167.5" overflow="visible" xml:space="preserve">
								<g>
									<path fill="#1D2646" d="M108.6,23.8c2.4,0,4.4,2,4.4,4.4v113.5c0,2.4-2,4.4-4.4,4.4H55.9c-2.5,0-4.4-2-4.4-4.4V28.2 c0-2.5,2-4.4,4.4-4.4H108.6 M108.6,19.8H55.9c-4.7,0-8.4,3.8-8.4,8.4v113.5c0,4.7,3.8,8.4,8.4,8.4h52.7c4.7,0,8.4-3.8,8.4-8.4V28.2 C117.1,23.6,113.3,19.8,108.6,19.8L108.6,19.8z"></path>
								</g>
								<path fill="#F95265" d="M58.3,82.2v-3.1l14.8-9.5V74l-10.7,6.8l10.7,6.8v4.3L58.3,82.2z M85.3,64h3.3l-9.3,30.5H76L85.3,64z M91.5,87.5l10.7-6.8l-10.7-6.8v-4.3l14.8,9.5v3.1l-14.8,9.5V87.5z"></path>
								<g>
									<path fill="#1D2646" d="M82.3,142.9c-2.8,0-5.1-2.3-5.1-5.1s2.3-5.1,5.1-5.1s5.1,2.3,5.1,5.1S85.2,142.9,82.3,142.9z M82.3,134.7 c-1.7,0-3.1,1.4-3.1,3.1c0,1.7,1.4,3.1,3.1,3.1s3.1-1.4,3.1-3.1S84.1,134.7,82.3,134.7z"></path>
								</g>
								<g>
									<rect x="50.9" y="32.7" fill="#1D2646" width="63.6" height="4"></rect>
								</g>
								<g>
									<rect x="50.9" y="126.2" fill="#1D2646" width="62.6" height="4"></rect>
								</g>
							</svg>
						</div>
						<div class="right_part">
							<h5>Site vitrine 100% responsive (adaptatif mobile/tablette)</h5>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, aperiam facilis molestiae ab accusamus quo tempore neque consequatur? At omnis deserunt quaerat esse dolorum, tempora corporis quia molestias similique sunt.</p>
						</div>
					</div>
				{% endfor %}
			</div>
		</section>

		<section class="first_section">
			<div class="right_part">
				<div class="title">
					<h2>Pourquoi choisir Pakadan pour la reservation d'un espace vitrine</h2>
					<div class="line"></div>
				</div>
				<div class="description">
					<p class="paragraph1">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit delectus numquam magnam eos, molestiae nihil dolores tenetur quam quo voluptatum laboriosam? Reprehenderit impedit laudantium aperiam magnam veritatis error, reiciendis fuga.
					</p>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit delectus numquam magnam eos, molestiae nihil dolores tenetur quam quo voluptatum laboriosam? Reprehenderit impedit laudantium aperiam magnam veritatis error, reiciendis fuga.
					</p>
				</div>
				<div class="btn_action">
					<a href="#">Nous contacter</a>
				</div>
			</div>
			<div class="left_part">
				<div class="image">
					<img src="/images/imageSection8.jpg" alt="">
				</div>
			</div>

		</section>

		<section class="third_section">
			<div class="title">
				<h2>La garantie de Pakadan</h2>
				<div class="line"></div>
				<p class="title_description">
					Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste explicabo enim ad nulla modi, provident corrupti mollitia, in excepturi deserunt impedit fugit perferendis aspernatur at. Quo sunt officia ipsa id.
				</p>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, accusamus. Esse distinctio quo at voluptates tempora quisquam corporis itaque, repellat, laboriosam voluptatum iure, consequuntur suscipit tempore fugiat. Sint, cumque eligendi?
				</p>
			</div>
		</section>
		<section class="third_section">
			<div class="title title_pos_right">
				<h2>Processus de reservatrion d'espace vitrine</h2>
				<div class="line"></div>
			</div>
			<ul class="process_list">
				{% for item in range(1,6,1) %}
					<li>
						<svg aria-hidden="true" fill="none" focusable="false" height="20px" viewbox="0 0 16 16" width="20px" id="cds-react-aria-303" class="css-1qgnve6">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M15.74 3.672L6.225 14.168.323 8.736l1.354-1.472 4.419 4.068 8.163-9.004 1.482 1.344z" fill="currentColor"></path>
						</svg>
						<span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto quod molestiae illo sed voluptate, cum totam autem, at, delectus adipisci alias?</span>
					</li>
				{% endfor %}
			</ul>
		</section>
		<section class="fourth_section">
			<div class="title">
				<h2>Les parties d’un espace vitrine</h2>
				<div class="line"></div>
				<p class="title_description">
					Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste explicabo enim ad nulla modi, provident corrupti mollitia, in excepturi deserunt impedit fugit perferendis aspernatur at. Quo sunt officia ipsa id.
				</p>

			</div>
			<div class="container_page_content">

				<div class="page_content">
					<div class="left">
						<h4>Section accueil</h4>
						<div class="content">
							Lorem ipsum dolor sit amet consectetur adipisicing elit.
						</div>
					</div>
					<div class="right">
						<div class="image">
							<img src="/images/accueil.png" alt="">
						</div>
					</div>
				</div>
				<div class="page_content">
					<div class="left">
						<h4>Section produits</h4>
						<div class="content">
							Lorem ipsum dolor sit amet consectetur adipisicing elit.
						</div>
					</div>
					<div class="right">
						<div class="image">
							<img src="/images/produit.png" alt="">
						</div>
					</div>
				</div>
				<div class="page_content">
					<div class="left">
						<h4>Section services</h4>
						<div class="content">
							Lorem ipsum dolor sit amet consectetur adipisicing elit.
						</div>
					</div>
					<div class="right">
						<div class="image">
							<img src="/images/service.png" alt="">
						</div>
					</div>
				</div>
				<div class="page_content">
					<div class="left">
						<h4>Section contact</h4>
						<div class="content">
							Lorem ipsum dolor sit amet consectetur adipisicing elit.
						</div>
					</div>
					<div class="right">
						<div class="image">
							<img src="/images/contact.png" alt="">
						</div>
					</div>
				</div>


			</div>
		</section>
		<section class="fifth_section">
			<div class="title">
				<h2>Quel type de site vitrine choisir ?</h2>
				<div class="line"></div>
				<p class="title_description">
					Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste explicabo enim ad nulla modi, provident corrupti mollitia, in excepturi deserunt impedit fugit perferendis aspernatur at. Quo sunt officia ipsa id.
				</p>

				<div class="container_showcase">
					<div class="showcase">
						<div class="title_show_case">
							<h4>Espace vitrine type Portfolio</h4>
						</div>
						<div class="description">
							<p>
								Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus cupiditate odit accusantium non nobis necessitatibus culpa doloribus totam. Reprehenderit ratione porro aliquam voluptatem totam autem repudiandae nam fugiat deleniti nisi!
							</p>
							<p>
								Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe eaque excepturi rerum libero impedit, eos sapiente voluptas atque suscipit vel omnis quisquam culpa, totam dolores maxime quibusdam obcaecati deleniti blanditiis.
							</p>
						</div>
					</div>
					<div class="showcase">
						<div class="title_show_case">
							<h4>Espace vitrine type Landing Page</h4>
						</div>
						<div class="description">
							<p>
								Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus cupiditate odit accusantium non nobis necessitatibus culpa doloribus totam. Reprehenderit ratione porro aliquam voluptatem totam autem repudiandae nam fugiat deleniti nisi!
							</p>
							<p>
								Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe eaque excepturi rerum libero impedit, eos sapiente voluptas atque suscipit vel omnis quisquam culpa, totam dolores maxime quibusdam obcaecati deleniti blanditiis.
							</p>
						</div>
					</div>
				</div>

			</div>
		</section>


		<section class="sixth_section">
			<div class="title">
				<h2>Tarif pour la reservation d'espace vitrine</h2>
				<div class="line"></div>
			</div>
			<div class="container_card_subscription">
				<div class="card_subscription first_card_subscription">
					<div class="content_card_subscription">
						<h3>Espace vitrine type Portfolio</h3>
						<div class="short_description">
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, sequi corporis animi quas fugit dolor suscipit quod voluptates perspiciatis</p>
						</div>
						<div class="price_level">
							<span>
								<span>USD</span>
								<span class="active">11.43</span>
							</span>
						</div>
						<div class="container_advantage">
							<div class="advantage">
								<svg aria-hidden="true" fill="none" focusable="false" height="25px" viewbox="0 0 16 16" width="25px" id="cds-react-aria-303" class="css-1qgnve6">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M15.74 3.672L6.225 14.168.323 8.736l1.354-1.472 4.419 4.068 8.163-9.004 1.482 1.344z" fill="currentColor"></path>
								</svg>
								<span>Lorem ipsum dolor sit amet consectetur adipisicing elit</span>
							</div>
							<div class="advantage">
								<svg aria-hidden="true" fill="none" focusable="false" height="25px" viewbox="0 0 16 16" width="25px" id="cds-react-aria-303" class="css-1qgnve6">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M15.74 3.672L6.225 14.168.323 8.736l1.354-1.472 4.419 4.068 8.163-9.004 1.482 1.344z" fill="currentColor"></path>
								</svg>
								<span>Lorem ipsum dolor sit amet consectetur adipisicing elit</span>
							</div>
							<div class="advantage">
								<svg aria-hidden="true" fill="none" focusable="false" height="25px" viewbox="0 0 16 16" width="25px" id="cds-react-aria-303" class="css-1qgnve6">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M15.74 3.672L6.225 14.168.323 8.736l1.354-1.472 4.419 4.068 8.163-9.004 1.482 1.344z" fill="currentColor"></path>
								</svg>
								<span>Lorem ipsum dolor sit amet consectetur adipisicing elit</span>
							</div>
						</div>
					</div>
				</div>
				<div class="card_subscription">
					<div class="content_card_subscription">
						<small class="top_card">Le plus couramment acheté</small>
						<h3>Espace vitrine type Landing Page</h3>
						<div class="short_description">
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, sequi corporis animi quas fugit dolor suscipit quod voluptates perspiciatis</p>
						</div>
						<div class="price_level">
							<span>
								<span>USD</span>
								<span class="active">19.68</span>
							</span>
						</div>
						<div class="container_advantage">
							<div class="advantage">
								<svg aria-hidden="true" fill="none" focusable="false" height="25px" viewbox="0 0 16 16" width="25px" id="cds-react-aria-303" class="css-1qgnve6">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M15.74 3.672L6.225 14.168.323 8.736l1.354-1.472 4.419 4.068 8.163-9.004 1.482 1.344z" fill="currentColor"></path>
								</svg>
								<span>Lorem ipsum dolor sit amet consectetur adipisicing elit</span>
							</div>
							<div class="advantage">
								<svg aria-hidden="true" fill="none" focusable="false" height="25px" viewbox="0 0 16 16" width="25px" id="cds-react-aria-303" class="css-1qgnve6">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M15.74 3.672L6.225 14.168.323 8.736l1.354-1.472 4.419 4.068 8.163-9.004 1.482 1.344z" fill="currentColor"></path>
								</svg>
								<span>Lorem ipsum dolor sit amet consectetur adipisicing elit</span>
							</div>
							<div class="advantage">
								<svg aria-hidden="true" fill="none" focusable="false" height="25px" viewbox="0 0 16 16" width="25px" id="cds-react-aria-303" class="css-1qgnve6">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M15.74 3.672L6.225 14.168.323 8.736l1.354-1.472 4.419 4.068 8.163-9.004 1.482 1.344z" fill="currentColor"></path>
								</svg>
								<span>Lorem ipsum dolor sit amet consectetur adipisicing elit</span>
							</div>
							<div class="advantage">
								<svg aria-hidden="true" fill="none" focusable="false" height="25px" viewbox="0 0 16 16" width="25px" id="cds-react-aria-303" class="css-1qgnve6">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M15.74 3.672L6.225 14.168.323 8.736l1.354-1.472 4.419 4.068 8.163-9.004 1.482 1.344z" fill="currentColor"></path>
								</svg>
								<span>Lorem ipsum dolor sit amet consectetur adipisicing elit</span>
							</div>
							<div class="advantage">
								<svg aria-hidden="true" fill="none" focusable="false" height="25px" viewbox="0 0 16 16" width="25px" id="cds-react-aria-303" class="css-1qgnve6">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M15.74 3.672L6.225 14.168.323 8.736l1.354-1.472 4.419 4.068 8.163-9.004 1.482 1.344z" fill="currentColor"></path>
								</svg>
								<span>Lorem ipsum dolor sit amet consectetur adipisicing elit</span>
							</div>
							<div class="advantage">
								<svg aria-hidden="true" fill="none" focusable="false" height="25px" viewbox="0 0 16 16" width="25px" id="cds-react-aria-303" class="css-1qgnve6">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M15.74 3.672L6.225 14.168.323 8.736l1.354-1.472 4.419 4.068 8.163-9.004 1.482 1.344z" fill="currentColor"></path>
								</svg>
								<span>Lorem ipsum dolor sit amet consectetur adipisicing elit</span>
							</div>
						</div>
					</div>
				</div>


				<div class="card_subscription">
					<div class="content_card_subscription">
						<h3>Espace vitrine avec options spécifiques(selon le cahier de charge)</h3>
						<div class="short_description">
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, sequi corporis animi quas fugit dolor suscipit quod voluptates perspiciatis</p>
						</div>
						<div class="price_level">
							<span>
								<span>Sur</span>
								<span class="active">commande</span>
							</span>
						</div>
						<div class="container_advantage">
							<div class="advantage">
								<svg aria-hidden="true" fill="none" focusable="false" height="25px" viewbox="0 0 16 16" width="25px" id="cds-react-aria-303" class="css-1qgnve6">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M15.74 3.672L6.225 14.168.323 8.736l1.354-1.472 4.419 4.068 8.163-9.004 1.482 1.344z" fill="currentColor"></path>
								</svg>
								<span>
									Lorem ipsum dolor sit amet consectetur adipisicing elit.
								</span>
							</div>
							<div class="advantage">
								<svg aria-hidden="true" fill="none" focusable="false" height="25px" viewbox="0 0 16 16" width="25px" id="cds-react-aria-303" class="css-1qgnve6">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M15.74 3.672L6.225 14.168.323 8.736l1.354-1.472 4.419 4.068 8.163-9.004 1.482 1.344z" fill="currentColor"></path>
								</svg>
								<span>Lorem ipsum dolor sit amet consectetur adipisicing elit</span>
							</div>
							<div class="advantage">
								<svg aria-hidden="true" fill="none" focusable="false" height="25px" viewbox="0 0 16 16" width="25px" id="cds-react-aria-303" class="css-1qgnve6">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M15.74 3.672L6.225 14.168.323 8.736l1.354-1.472 4.419 4.068 8.163-9.004 1.482 1.344z" fill="currentColor"></path>
								</svg>
								<span>Lorem ipsum dolor sit amet consectetur adipisicing elit</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

        <section class="current_questions">
            <div class="title">
				<h2>Questions fréquemment posées</h2>
				<div class="line"></div>
			</div>
            <div class="container_current_questions">
               {% for item in range(1,5,1) %}
                 <div class="item_question" x-data="{open:false}">
                    <div class="header" @click="open = !open" :class="open ? 'active': ''">
                        <span>Comment vous contacter pour reserver un espace vitrine</span>
                        <svg :class="open ? 'rotate_open': ''" width="20px" height="20px" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                        </svg>
                    </div>
                    <div class="response_content" x-show="open" style="display:none;" :class="open ? 'open_content': ''" @click.outside="open=false">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem officiis rerum odio libero aliquid dolores, est sint commodi hic ut neque magni, ea, velit dignissimos maiores. Consequatur voluptate doloremque recusandae.</p>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem officiis rerum odio libero aliquid dolores, est sint commodi hic ut neque magni, ea, velit dignissimos maiores. Consequatur voluptate doloremque recusandae.</p>
                    </div>
                </div>
               {% endfor %}
            </div>
        </section>

	</div>
		<section class="make_reservation">
			<div class="rerservation_item">
				<h2 class="first_title">Faites la reservation d'une reservation de votre choix</h2>
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto laudantium facilis magnam officia laborum aliquid fuga nulla magni est dolorum error aperiam, sed, non quasi, veritatis ducimus inventore consequuntur accusamus.</p>
				<div class="link_reserve">
					<a href="">Reserver un espace vitrine</a>
				</div>
			</div>
		</section>
{% endblock %}
