{% extends 'base.html.twig' %}

{% block title %}Pakadan | Page d'accueil{% endblock %}

{% block body %}
    <div class="container_sections_home_page">
        <section class="pubs_section">
            <div class="image_pub_section">
                <img src="/images/shoes3.jpg" alt="image pub">
            </div>
            <div class="description_pub_section">
                <h2>Chaussures de qualité</h2>
                <h4>Trouvez votre parfaite paire de chaussures pour hommes</h4>
                <div class="web_site_link">
                    <div class="name_web_site">
                        <a href="">Joemeri</a>
                    </div>
                    <div class="link_web_site">
                        <a href="">Ouvrir</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
