{% extends 'base.html.twig' %}

{% block title %}Pakadan | Page d'accueil
{% endblock %}

{% block body %}
	<div class="container_sections_home_page">
		<section
			class="pubs_section">
			{# <div class="image_pub_section">
										<img src="/images/shoes3o.jpg" alt="image pub">
									</div>
									<div class="description_pub_section">
										<h2>Chaussures de qualité</h2>
										<h4>Trouvez votre parfaite paire de chaussures pour hommes</h4>
										<div class="web_site_link">
											<div class="name_web_site">
												<a href="">Joemeri</a>
											</div>
											<div class="link_web_site">
												<a href="">Ouvrir</a>
											</div>
										</div>
									</div> #}
			<div class="left_part">
				<h1>Pakadan</h1>
				<h3>Une plateforme de reservation d'espace vitrine pour les entreprises et les particuliers</h3>

				<div class="description">
					<p>Pakadan est une plateforme offerte en ligne aux tiers personnes morales et physiques qui soient, avec pour objectif la visibilité en ligne de votre marque, promouvoir vos produits ou services</p>
				</div>
				<div class="contact_us">
					<a href="#contact">Contactez-nous</a>
				</div>
			</div>
			<div class="right_part">
				<div class="image">
					<img src="/images/computer.jpg" alt="">
				</div>
			</div>
		</section>

		<section class="top_factories_section">
			<div class="title">
				<h2>Top entreprises</h2>
				<div class="line"></div>
			</div>
			{{component("tableFactoriesSite")}}
		</section>

		<section class="first_section">
			<div class="left_part">
				<div class="image">
					<img src="/images/imageSection.jpg" alt="">
				</div>
			</div>
			<div class="right_part">
				<div class="title">
					<h2>Qu'est-ce qu'un espace vitrine</h2>
					<div class="line"></div>
				</div>
				<div class="description">
					<p class="paragraph1">
						Un espace vitrine est un type de site internet dont le principal objectif est de présenter une entreprise, ses produits ou services, et de faire connaître son image de marque. Il s’agit d’une vitrine digitale, un espace en ligne qui reflète l’identité et les valeurs de l’entreprise.
					</p>
					<p>
						Contrairement à un site e-commerce, un site vitrine ne permet pas la vente en ligne directe de produits ou services, mais il joue un rôle crucial dans l’acquisition de nouvelles opportunités d’affaires
					</p>
				</div>
				<div class="btn_action">
					<a href="#contact">Nous contacter</a>
				</div>
			</div>
		</section>

		<section class="first_section">
			<div class="right_part">
				<div class="title">
					<h2>Pourquoi créer un espace vitrine</h2>
					<div class="line"></div>
				</div>
				<div class="description">
					<p class="paragraph1">
						Un espace vitrine est un outil puissant pour augmenter la visibilité de son entreprise sur internet et attirer de nouveaux clients.
												Il permet de contrôler l’image que l’on souhaite transmettre au public et de mettre en avant ses atouts et ses valeurs
					</p>
					<p>
						Un coût abordable comparé à d’autres types de site internet comme les sites e-commerce, le site vitrine est généralement moins coûteux à mettre en place et à maintenir. Cela en fait une option idéale pour les petites entreprises ou les indépendants ayant un budget limité
					</p>
					<p>
						Une facilité de mise à jour Avec les outils de gestion de contenu actuels, maintenir et mettre à jour un site vitrine est à la portée de tous. Il n’est pas nécessaire d’avoir des compétences techniques poussées pour ajouter du contenu ou actualiser les informations présentes sur le site
					</p>
				</div>
				<div class="btn_action">
					<a href="#contact">Nous contacter</a>
				</div>
			</div>
			<div class="left_part">
				<div class="image">
					<img src="/images/imageSection5.jpg" alt="">
				</div>
			</div>

		</section>

		<section class="second_section">
			<div class="title">
				<h2>Nos engagements pour la reservation de votre espace vitrine</h2>
				<div class="line"></div>
				<p class="title_description">
					Nous tenons certains engagements pour vous montrer la fiabilité d'utiliser nos services et la volonté de sécuriser vos données
				</p>
			</div>
			<div class="container_items">

				<div class="item">
					<div class="left_part">
						<svg width="80px" height="80px" version="1.1" baseprofile="tiny" id="svg-6601c1145e9fc" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 164.5 167.5" overflow="visible" xml:space="preserve">
							<g>
								<path fill="#1D2646" d="M108.6,23.8c2.4,0,4.4,2,4.4,4.4v113.5c0,2.4-2,4.4-4.4,4.4H55.9c-2.5,0-4.4-2-4.4-4.4V28.2 c0-2.5,2-4.4,4.4-4.4H108.6 M108.6,19.8H55.9c-4.7,0-8.4,3.8-8.4,8.4v113.5c0,4.7,3.8,8.4,8.4,8.4h52.7c4.7,0,8.4-3.8,8.4-8.4V28.2 C117.1,23.6,113.3,19.8,108.6,19.8L108.6,19.8z"></path>
							</g>
							<path fill="#F95265" d="M58.3,82.2v-3.1l14.8-9.5V74l-10.7,6.8l10.7,6.8v4.3L58.3,82.2z M85.3,64h3.3l-9.3,30.5H76L85.3,64z M91.5,87.5l10.7-6.8l-10.7-6.8v-4.3l14.8,9.5v3.1l-14.8,9.5V87.5z"></path>
							<g>
								<path fill="#1D2646" d="M82.3,142.9c-2.8,0-5.1-2.3-5.1-5.1s2.3-5.1,5.1-5.1s5.1,2.3,5.1,5.1S85.2,142.9,82.3,142.9z M82.3,134.7 c-1.7,0-3.1,1.4-3.1,3.1c0,1.7,1.4,3.1,3.1,3.1s3.1-1.4,3.1-3.1S84.1,134.7,82.3,134.7z"></path>
							</g>
							<g>
								<rect x="50.9" y="32.7" fill="#1D2646" width="63.6" height="4"></rect>
							</g>
							<g>
								<rect x="50.9" y="126.2" fill="#1D2646" width="62.6" height="4"></rect>
							</g>
						</svg>
					</div>
					<div class="right_part">
						<h5>Site vitrine 100% responsive (adaptatif mobile/tablette)</h5>
						<p>
							Notre plateforme est compatible avec tous les types d’écrans (téléphone, tablette, ordinateur). Cela permet une expérience utilisateur fluide et agréable, quel qu'en soit l'appareil utilisé.
						</p>
					</div>
				</div>

				<div class="item">
					<div class="left_part">
						<svg width="80px" height="80px" version="1.1" baseprofile="tiny" id="svg-6601c1146d342" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 164.5 167.5" overflow="visible" xml:space="preserve">
							<g>
								<g>
									<path fill="#0E214A" d="M83.5,105.8c-1.3,0-2.4,1.1-2.4,2.4v5.1c0,1.3,1.1,2.4,2.4,2.4s2.4-1.1,2.4-2.4v-5.1 C85.9,106.9,84.9,105.8,83.5,105.8z"></path>
								</g>
							</g>
							<g>
								<g>
									<path fill="#0E214A" d="M156.1,71.5c-0.9-0.9-2.2-1.5-3.5-1.5l0,0h-6.2c-0.1,0-0.1-0.1-0.1-0.2c-1.7-8.3-5.5-16.1-11-22.6 c-5.3-6.3-12.1-11.2-19.7-14.3c-1.2-5.2-3.8-10.5-8.9-14.5c-4.9-3.9-9.9-4.6-10.1-4.6c-0.7-0.1-1.4,0.1-1.9,0.6s-0.8,1.1-0.8,1.8 v13h-8.7c-2.2-7.4-9-12.8-17-12.8C60,16.3,53,21.9,51,29.5c-11.9,1.6-22.8,7.4-30.9,16.3C11.6,55.2,6.9,67.4,6.9,80.1 c0,28.5,14.8,51.7,19.3,58.1c1.4,2,3.7,3.2,6.1,3.2h10.2c4.1,0,7.5-3.4,7.5-7.5v-3.3c2.6,0.4,5.2,0.6,7.8,0.6H81v2.7 c0,4.1,3.4,7.5,7.5,7.5h11.2c3.5,0,6.6-2.5,7.4-5.9l1.2-5.7c15.8-3.8,28.4-14.9,34.7-29.3h9.5c2.7,0,5-2.2,5-5V75 C157.6,73.6,157.1,72.4,156.1,71.5z M68.2,21.1c7.1,0,13,5.8,13,13c0,1.8-0.4,3.6-1.1,5.3H56.4c-0.7-1.7-1.1-3.5-1.1-5.3 C55.2,26.9,61,21.1,68.2,21.1z M152.8,95.4c0,0.1-0.1,0.2-0.2,0.2H145c1.3-4.1,2.1-8.4,2.3-12.8c0.1-1.3-0.9-2.5-2.3-2.5 c-1.3-0.1-2.5,0.9-2.5,2.3c-1,19.6-14.4,36.3-32.9,41.9l3.4-15.6c0.3-1.3-0.5-2.6-1.8-2.8c-1.3-0.3-2.6,0.5-2.8,1.8l-5.7,26.7 c-0.3,1.2-1.4,2.1-2.7,2.1H88.7c-1.5,0-2.7-1.2-2.7-2.7v-10.2c0-1.3-1.1-2.4-2.4-2.4s-2.4,1.1-2.4,2.4v2.7H58 c-2.6,0-5.3-0.2-7.8-0.7v-17.4c0-1.3-1.1-2.4-2.4-2.4s-2.4,1.1-2.4,2.4V134c0,1.5-1.2,2.7-2.7,2.7H32.4c-0.9,0-1.7-0.4-2.2-1.1 c-4.3-6.1-18.4-28.2-18.4-55.3c0-11.5,4.2-22.5,12-31c7.1-7.8,16.5-12.9,26.8-14.6c0,1.6,0.3,3.3,0.8,4.8h-1 c-1.3,0-2.4,1.1-2.4,2.4c0,1.3,1.1,2.4,2.4,2.4h35.8c1.3,0,2.4-1.1,2.4-2.4c0-1.3-1.1-2.4-2.4-2.4h-1c0.5-1.7,0.8-3.5,0.8-5.3 c0-0.1,0-0.1,0-0.2h8v5.3c0,1.3,1.1,2.4,2.4,2.4s2.4-1.1,2.4-2.4v-20c4.6,1.7,13.1,7,13.1,22.4c0,1.3,1.1,2.4,2.4,2.4 s2.4-1.1,2.4-2.4c0-1,0-2.1-0.1-3.2c5.8,2.8,11,6.8,15.2,11.8c5,5.9,8.4,13,9.9,20.5c0.5,2.3,2.5,4,4.9,4h6.2h0.1v0.1L152.8,95.4 L152.8,95.4z"></path>
								</g>
							</g>
							<g>
								<g>
									<path fill="#0E214A" d="M131.9,71.6c-1.5-4-5.4-6.7-9.8-6.7s-8.3,2.7-9.8,6.7c-0.5,1.2,0.2,2.6,1.4,3.1c1.2,0.5,2.6-0.2,3.1-1.4 c0.8-2.1,2.9-3.6,5.3-3.6s4.5,1.4,5.3,3.6c0.4,1,1.3,1.6,2.2,1.6c0.3,0,0.6,0,0.8-0.2C131.7,74.2,132.3,72.8,131.9,71.6z"></path>
								</g>
							</g>
							<g>
								<g>
									<path fill="#F95265" d="M70.6,78.3V66c4.7,0.6,8,2.8,8,4.7c0,1.3,1.1,2.4,2.4,2.4s2.4-1.1,2.4-2.4c0-4.9-5.5-8.8-12.8-9.6v-0.3 c0-1.3-1.1-2.4-2.4-2.4s-2.4,1.1-2.4,2.4v0.3C58.4,61.9,53,65.8,53,70.7c0,7,6.9,9.5,12.8,11.2v12.3c-4.7-0.6-8-2.8-8-4.7 c0-1.3-1.1-2.4-2.4-2.4c-1.3,0-2.4,1.1-2.4,2.4c0,4.9,5.5,8.8,12.8,9.6v0.3c0,1.3,1.1,2.4,2.4,2.4s2.4-1.1,2.4-2.4V99 c7.3-0.7,12.8-4.7,12.8-9.6C83.4,82.4,76.5,79.9,70.6,78.3z M65.8,76.9c-5.9-1.9-8-3.5-8-6.2c0-2,3.3-4.2,8-4.7V76.9z M70.6,94.2 V83.3c5.9,1.9,8,3.5,8,6.2C78.6,91.4,75.3,93.6,70.6,94.2z"></path>
								</g>
							</g>
						</svg>
					</div>
					<div class="right_part">
						<h5>Prix abordable</h5>
						<p>
							Notre plateforme met en place des solutions accessibles et sans compromettre la qualité. Nos tarifs sont adaptés aux budgets variés, ce qui rend nos services accessibles à tous; la réservation d’un espace est abordable, les services offerts sont intéressants également.

						</p>
					</div>
				</div>

				<div class="item">
					<div class="left_part">
						<svg width="80px" height="80px" version="1.1" baseprofile="tiny" id="svg-6601c1145aac1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 164.5 167.5" overflow="visible" xml:space="preserve">
							<g>
								<path fill="#21294D" d="M145.4,18.5H19.1c-3.5,0-6.4,2.9-6.4,6.4v117.6c0,3.5,2.9,6.4,6.4,6.4h126.3c3.5,0,6.4-2.9,6.4-6.4V24.9 C151.8,21.4,148.9,18.5,145.4,18.5z M19.1,22.6h126.3c1.3,0,2.3,1,2.3,2.3v11H16.8v-11C16.8,23.6,17.8,22.6,19.1,22.6z M145.4,144.8H19.1c-1.3,0-2.3-1-2.3-2.3V40h130.9v102.5C147.7,143.8,146.6,144.8,145.4,144.8z"></path>
								<path fill="#21294D" d="M23.4,31.3c0.5,0,1.1-0.2,1.4-0.6c0.4-0.4,0.6-0.9,0.6-1.4s-0.2-1.1-0.6-1.4c-0.4-0.4-0.9-0.6-1.4-0.6 s-1.1,0.2-1.4,0.6c-0.4,0.4-0.6,0.9-0.6,1.4s0.2,1.1,0.6,1.4C22.4,31.1,22.9,31.3,23.4,31.3z"></path>
								<path fill="#21294D" d="M30,31.3c0.5,0,1.1-0.2,1.4-0.6c0.4-0.4,0.6-0.9,0.6-1.4s-0.2-1.1-0.6-1.4c-0.4-0.4-0.9-0.6-1.4-0.6 s-1.1,0.2-1.4,0.6c-0.4,0.4-0.6,0.9-0.6,1.4s0.2,1.1,0.6,1.4C28.9,31.1,29.4,31.3,30,31.3z"></path>
								<path fill="#21294D" d="M36.5,31.3c0.5,0,1.1-0.2,1.4-0.6c0.4-0.4,0.6-0.9,0.6-1.4s-0.2-1.1-0.6-1.4c-0.4-0.4-0.9-0.6-1.4-0.6 s-1.1,0.2-1.4,0.6c-0.4,0.4-0.6,0.9-0.6,1.4s0.2,1.1,0.6,1.4C35.4,31.1,36,31.3,36.5,31.3z"></path>
							</g>
							<g>
								<g>
									<path fill="#F95265" d="M112.1,91c-1.3,0-2.3,1-2.3,2.3v26.5H54.2V64.2h44.7c1.3,0,2.3-1,2.3-2.3s-1-2.3-2.3-2.3H51.9 c-1.3,0-2.3,1-2.3,2.3V122c0,1.3,1,2.3,2.3,2.3h60.1c1.3,0,2.3-1,2.3-2.3V93.2C114.3,92,113.3,91,112.1,91z"></path>
									<path fill="#F95265" d="M120.5,61.1c-0.9-0.9-2.3-0.9-3.2,0L80.5,98l-9.2-9.2c-0.9-0.9-2.3-0.9-3.2,0c-0.9,0.9-0.9,2.3,0,3.2 l10.8,10.8c0.4,0.4,1,0.7,1.6,0.7c0.6,0,1.2-0.2,1.6-0.7l38.5-38.5C121.4,63.4,121.4,62,120.5,61.1z"></path>
								</g>
							</g>
						</svg>
					</div>
					<div class="right_part">
						<h5>Technologies modernes</h5>
						<p>
							Nous mettons en avant les dernières technologies et tendances en matière de développement web pour créer des sites rapides, sécurisés et esthétiques. Cela permet, non seulement une meilleure performance, mais aussi une interface utilisateur intuitive.
						</p>
					</div>
				</div>

				<div class="item">
					<div class="left_part">
						<svg  width="80px" height="80px" version="1.1" id="svg-6601c11471db9" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 164.5 167.5" style="enable-background:new 0 0 164.5 167.5;" xml:space="preserve">
							<style>
								.st0 {
									fill: #21294D;
								}
								.st1 {
									fill: #F95265;
								}
								.st2 {
									fill: #FFFFFF;
								}
							</style>
							<g>
								<path class="st0" d="M146,18.4H19.7c-3.5,0-6.4,2.9-6.4,6.4v117.6c0,3.5,2.9,6.4,6.4,6.4H146c3.5,0,6.4-2.9,6.4-6.4V24.8
									C152.4,21.3,149.5,18.4,146,18.4z M19.7,22.5H146c1.3,0,2.3,1,2.3,2.3v11H17.4v-11C17.4,23.5,18.4,22.5,19.7,22.5z M146,144.7H19.7
									c-1.3,0-2.3-1-2.3-2.3V39.9h130.9v102.5C148.3,143.7,147.2,144.7,146,144.7z"></path>
								<path class="st0" d="M24,31.2c0.5,0,1.1-0.2,1.4-0.6c0.4-0.4,0.6-0.9,0.6-1.4s-0.2-1.1-0.6-1.4c-0.4-0.4-0.9-0.6-1.4-0.6
									s-1.1,0.2-1.4,0.6c-0.4,0.4-0.6,0.9-0.6,1.4s0.2,1.1,0.6,1.4C23,31,23.5,31.2,24,31.2z"></path>
								<path class="st0" d="M30.6,31.2c0.5,0,1.1-0.2,1.4-0.6c0.4-0.4,0.6-0.9,0.6-1.4s-0.2-1.1-0.6-1.4c-0.4-0.4-0.9-0.6-1.4-0.6
									s-1.1,0.2-1.4,0.6c-0.4,0.4-0.6,0.9-0.6,1.4s0.2,1.1,0.6,1.4C29.5,31,30,31.2,30.6,31.2z"></path>
								<path class="st0" d="M37.1,31.2c0.5,0,1.1-0.2,1.4-0.6c0.4-0.4,0.6-0.9,0.6-1.4s-0.2-1.1-0.6-1.4c-0.4-0.4-0.9-0.6-1.4-0.6
									s-1.1,0.2-1.4,0.6c-0.4,0.4-0.6,0.9-0.6,1.4s0.2,1.1,0.6,1.4C36,31,36.6,31.2,37.1,31.2z"></path>
							</g>
							<g>
								<path class="st1" d="M31.3,90.4h41.5c2.7,0,4.9-2.2,4.9-4.9V51.9c-0.1-2.8-2.2-5-4.9-5H31.3c-2.7,0-4.9,2.2-4.9,4.9v33.7
									C26.4,88.2,28.6,90.4,31.3,90.4z M30.4,51.9c0-0.5,0.4-0.9,0.9-0.9h41.5v-0.1c0.5,0,0.9,0.4,0.9,0.9v33.7c0,0.5-0.4,0.9-0.9,0.9
									H31.3c-0.5,0-0.9-0.4-0.9-0.9V51.9z"></path>
								<path class="st0" d="M43.6,134H28.4c-1.1,0-2,0.9-2,2s0.9,2,2,2h15.2c1.1,0,2-0.9,2-2C45.7,134.9,44.8,134,43.6,134z"></path>
								<path class="st0" d="M85,59.7h52.3c1.1,0,2-0.9,2-2c0-1.2-0.9-2-2-2H85c-1.1,0-2,0.9-2,2S83.9,59.7,85,59.7z"></path>
								<path class="st0" d="M85,90.2h2.2c1.1,0,2-0.9,2-2s-0.9-2-2-2H85c-1.1,0-2,0.9-2,2S83.9,90.2,85,90.2z"></path>
								<path class="st0" d="M85,51h19.6c1.1,0,2-0.9,2-2s-0.9-2-2-2H85c-1.1,0-2,0.9-2,2C83,50,83.9,51,85,51z"></path>
								<path class="st0" d="M85,81.4h2.2c1.1,0,2-0.9,2-2s-0.9-2-2-2H85c-1.1,0-2,0.9-2,2S83.9,81.4,85,81.4z"></path>
								<path class="st0" d="M85,72.7h2.2c1.1,0,2-0.9,2-2s-0.9-2-2-2H85c-1.1,0-2,0.9-2,2S83.9,72.7,85,72.7z"></path>
								<path class="st0" d="M58.9,125.3H28.4c-1.1,0-2,0.9-2,2c0,1.1,0.9,2,2,2h30.5c1.1,0,2-0.9,2-2S60,125.3,58.9,125.3z"></path>
								<path class="st1" d="M135.1,99.1H109c-2.3,0-4.2,1.9-4.2,4.2v13.1c0,2.3,1.9,4.2,4.2,4.2h26.1c2.3,0,4.2-1.9,4.2-4.2v-13.1
									C139.3,101,137.4,99.1,135.1,99.1z M135.2,116.4c0,0.1-0.1,0.1-0.1,0.1H109c-0.1,0-0.1-0.1-0.1-0.1v-13.1c0-0.1,0.1-0.1,0.1-0.1
									h26.1c0.1,0,0.1,0.1,0.1,0.1L135.2,116.4L135.2,116.4z"></path>
								<path class="st1" d="M56.7,99.1H30.6c-2.3,0-4.2,1.9-4.2,4.2v13.1c0,2.3,1.9,4.2,4.2,4.2h26.1c2.3,0,4.2-1.9,4.2-4.2v-13.1
									C60.9,101,59,99.1,56.7,99.1z M56.8,116.4C56.8,116.5,56.7,116.5,56.8,116.4l-26.2,0.1c-0.1,0-0.1-0.1-0.1-0.1v-13.1
									c0-0.1,0.1-0.1,0.1-0.1h26.1c0.1,0,0.1,0.1,0.1,0.1L56.8,116.4z"></path>
								<path class="st0" d="M137.3,68.7H95.9c-1.1,0-2,0.9-2,2s0.9,2,2,2h41.4c1.1,0,2-0.9,2-2S138.4,68.7,137.3,68.7z"></path>
								<path class="st0" d="M137.3,77.4H95.9c-1.1,0-2,0.9-2,2s0.9,2,2,2h41.4c1.1,0,2-0.9,2-2C139.3,78.4,138.4,77.4,137.3,77.4z"></path>
								<path class="st0" d="M137.3,125.3h-30.5c-1.1,0-2,0.9-2,2c0,1.1,0.9,2,2,2h30.5c1.1,0,2-0.9,2-2S138.4,125.3,137.3,125.3z"></path>
								<path class="st0" d="M137.3,86.1H95.9c-1.1,0-2,0.9-2,2s0.9,2,2,2h41.4c1.1,0,2-0.9,2-2C139.3,87.1,138.4,86.1,137.3,86.1z"></path>
								<path class="st0" d="M98.1,125.3H67.6c-1.1,0-2,0.9-2,2c0,1.1,0.9,2,2,2h30.5c1.1,0,2-0.9,2-2S99.2,125.3,98.1,125.3z"></path>
								<path class="st0" d="M82.8,134H67.6c-1.1,0-2,0.9-2,2s0.9,2,2,2h15.2c1.1,0,2-0.9,2-2C84.9,134.9,83.9,134,82.8,134z"></path>
								<path class="st0" d="M122,134h-15.2c-1.1,0-2,0.9-2,2s0.9,2,2,2H122c1.1,0,2-0.9,2-2C124.1,134.9,123.1,134,122,134z"></path>
								<path class="st1" d="M95.9,99.1H69.8c-2.3,0-4.2,1.9-4.2,4.2v13.1c0,2.3,1.9,4.2,4.2,4.2h26.1c2.3,0,4.2-1.9,4.2-4.2v-13.1
									C100.1,101,98.2,99.1,95.9,99.1z M96,116.4C96,116.5,95.9,116.5,96,116.4l-26.2,0.1c-0.1,0-0.1-0.1-0.1-0.1v-13.1
									c0-0.1,0.1-0.1,0.1-0.1h26.1c0.1,0,0.1,0.1,0.1,0.1V116.4z"></path>
							</g>
							<circle class="st2" cx="142.1" cy="28.9" r="16.6"></circle>
							<path class="st0" d="M143.9,6.2c-13.8-1.1-25.2,10.3-24.1,24.1c0.9,10.8,9.6,19.6,20.5,20.5c13.8,1.1,25.2-10.3,24.1-24.1
								C163.5,15.8,154.8,7.1,143.9,6.2z M152.8,30.2h-9v9.4c0,0.8-0.4,1.5-1.2,1.7c-1.2,0.4-2.3-0.5-2.3-1.6v-9.5h-9
								c-0.8,0-1.5-0.4-1.7-1.2c-0.4-1.2,0.5-2.3,1.6-2.3h9v-8.5c0-0.8,0.4-1.5,1.2-1.7c1.2-0.4,2.3,0.5,2.3,1.6v8.6h9c1.1,0,2,1.1,1.6,2.3
								C154.3,29.8,153.5,30.2,152.8,30.2z"></path>
						</svg>
					</div>
					<div class="right_part">
						<h5>Maintenance regulière</h5>
						<p>
							Nous veuillons à une maintenance régulière pour améliorer l'expérience utilisateur voire la performance et la sécurité de la plateforme
						</p>
					</div>
				</div>

				<div class="item">
					<div class="left_part">
						<svg  width="80px" height="80px" version="1.1" baseProfile="tiny" id="svg-6601c1147e867" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 164.5 167.5" overflow="visible" xml:space="preserve"> <g> <path fill="#F95265" d="M132.7,115.4l-13,17.8l-9.2-7.2c-1-0.8-2.5-0.6-3.3,0.3c-0.8,0.9-0.7,2.3,0.3,3.1l11.1,8.7 c0.4,0.3,0.9,0.5,1.5,0.5c0.1,0,0.2,0,0.3,0c0.6-0.1,1.2-0.4,1.6-0.9l14.4-19.8c0.7-1,0.5-2.4-0.6-3.1 C134.9,114.1,133.5,114.4,132.7,115.4z"></path> <path fill="#F95265" d="M37,34.8c-5.8,0-10.4,4.5-10.4,10s4.7,10,10.4,10s10.4-4.5,10.4-10S42.7,34.8,37,34.8z M37,50.3 c-3.2,0-5.8-2.5-5.8-5.5s2.6-5.5,5.8-5.5s5.8,2.5,5.8,5.5S40.2,50.3,37,50.3z"></path> <ellipse fill="#21294D" cx="128.7" cy="41.4" rx="2.3" ry="2.2"></ellipse> <ellipse fill="#21294D" cx="119.4" cy="41.4" rx="2.3" ry="2.2"></ellipse> <ellipse fill="#21294D" cx="133.3" cy="48.1" rx="2.3" ry="2.2"></ellipse> <ellipse fill="#21294D" cx="124" cy="48.1" rx="2.3" ry="2.2"></ellipse> <ellipse fill="#21294D" cx="110.1" cy="41.4" rx="2.3" ry="2.2"></ellipse> <ellipse fill="#21294D" cx="114.8" cy="48.1" rx="2.3" ry="2.2"></ellipse> <ellipse fill="#21294D" cx="100.8" cy="41.4" rx="2.3" ry="2.2"></ellipse> <ellipse fill="#21294D" cx="105.5" cy="48.1" rx="2.3" ry="2.2"></ellipse> <ellipse fill="#21294D" cx="91.5" cy="41.4" rx="2.3" ry="2.2"></ellipse> <ellipse fill="#21294D" cx="96.2" cy="48.1" rx="2.3" ry="2.2"></ellipse> <path fill="#21294D" d="M151.9,57.8V31.7c0-5.6-4.8-10.2-10.7-10.2H23.3c-5.9,0-10.7,4.6-10.7,10.2v26.1c0,3.3,1.6,6.1,4.1,8 c-2.5,1.9-4.1,4.7-4.1,8V100c0,3.3,1.6,6.1,4.1,8c-2.5,1.9-4.1,4.7-4.1,8v26.1c0,5.6,4.8,10.2,10.7,10.2h86.8 c3.6,1.4,7.5,2.2,11.6,2.2c16.6,0,30.2-12.9,30.2-28.8c0-6.3-2.1-12-5.7-16.8c3.4-1.7,5.7-5.1,5.7-9V73.9c0-3.3-1.6-6.1-4.1-8 C150.3,64,151.9,61.1,151.9,57.8z M102.4,148H23.3c-3.3,0-6.1-2.6-6.1-5.8V116c0-3.2,2.7-5.8,6.1-5.8h73c-0.2,0.2-0.3,0.5-0.5,0.7 c-0.4,0.7-0.8,1.3-1.2,2c-0.2,0.4-0.4,0.7-0.5,1.1c-0.2,0.4-0.3,0.8-0.5,1.2c-0.2,0.4-0.3,0.8-0.5,1.2c-0.1,0.4-0.3,0.7-0.4,1.1 c-0.2,0.7-0.4,1.5-0.6,2.2c-0.1,0.3-0.1,0.5-0.2,0.8c-0.1,0.6-0.2,1.2-0.3,1.8c0,0.3-0.1,0.5-0.1,0.8c-0.1,0.9-0.1,1.7-0.1,2.6 c0,1.1,0.1,2.1,0.2,3.1c0,0.3,0.1,0.6,0.1,0.9c0.1,0.7,0.2,1.5,0.4,2.2c0.1,0.3,0.2,0.7,0.3,1c0.2,0.6,0.4,1.3,0.6,1.9 c0.1,0.4,0.3,0.7,0.4,1.1c0.2,0.6,0.5,1.1,0.7,1.7c0.2,0.4,0.4,0.7,0.6,1.1c0.3,0.5,0.6,1,0.8,1.5c0.2,0.4,0.5,0.8,0.7,1.1 c0.3,0.4,0.6,0.9,0.9,1.3c0.3,0.4,0.6,0.8,0.9,1.1c0.3,0.4,0.7,0.8,1,1.1c0.3,0.4,0.7,0.7,1,1.1c0.4,0.4,0.8,0.8,1.3,1.1 C101.8,147.4,102.1,147.7,102.4,148z M121.7,150.2c-3.5,0-6.8-0.7-9.9-1.9l-0.2-0.1c-0.7-0.3-1.3-0.6-2-0.9 c-0.2-0.1-0.4-0.2-0.6-0.3c-0.5-0.3-1-0.5-1.4-0.8c-0.2-0.1-0.4-0.2-0.5-0.3c-0.5-0.3-1-0.7-1.5-1.1c-0.1-0.1-0.2-0.1-0.2-0.2 c-0.6-0.5-1.2-1-1.7-1.5c0,0,0,0,0,0c-0.5-0.5-1-1-1.5-1.6c-0.1-0.1-0.2-0.2-0.3-0.3c-0.4-0.5-0.8-1-1.2-1.5 c-0.1-0.1-0.1-0.2-0.2-0.2c-0.4-0.6-0.8-1.2-1.2-1.9c-0.1-0.1-0.1-0.3-0.2-0.4c-0.3-0.5-0.5-1-0.8-1.5c-0.1-0.2-0.2-0.4-0.3-0.6 c-0.2-0.5-0.4-1-0.6-1.5c-0.1-0.2-0.1-0.3-0.2-0.5c-0.2-0.7-0.4-1.3-0.5-2c0-0.2-0.1-0.4-0.1-0.6c-0.1-0.5-0.2-1.1-0.3-1.6 c0-0.2-0.1-0.4-0.1-0.7c-0.1-0.7-0.1-1.5-0.1-2.2c0-0.8,0-1.6,0.1-2.3c0-0.4,0.1-0.7,0.2-1.1c0.1-0.4,0.1-0.8,0.2-1.2 c0.1-0.4,0.2-0.9,0.3-1.3c0.1-0.3,0.1-0.6,0.2-0.9c0.1-0.5,0.3-1,0.5-1.4c0.1-0.2,0.2-0.4,0.3-0.7c0.2-0.5,0.4-1,0.7-1.5 c0.1-0.2,0.2-0.3,0.3-0.5c0.3-0.5,0.6-1,0.9-1.5c0.1-0.1,0.2-0.3,0.3-0.4c0.3-0.5,0.7-1,1.1-1.5c0.1-0.1,0.2-0.2,0.2-0.3 c0.4-0.5,0.8-1,1.3-1.5c0.1-0.1,0.2-0.2,0.2-0.2c0.5-0.6,1.1-1.1,1.7-1.6c0.1-0.1,0.2-0.1,0.3-0.2c0.6-0.5,1.2-1,1.8-1.4 c0.1-0.1,0.1-0.1,0.2-0.2c0.7-0.5,1.4-0.9,2.1-1.3c0,0,0.1-0.1,0.1-0.1c0.8-0.4,1.5-0.8,2.3-1.1c0,0,0,0,0,0c2.4-1,5-1.7,7.6-2 c0,0,0.1,0,0.1,0c0.9-0.1,1.8-0.1,2.7-0.1c4.5,0,8.8,1.1,12.7,3.2c0,0,0,0,0,0c0.7,0.4,1.5,0.9,2.2,1.3c0.1,0,0.1,0.1,0.2,0.1 c0.6,0.5,1.3,0.9,1.9,1.4c0.1,0.1,0.1,0.1,0.2,0.2c0.6,0.5,1.1,1,1.7,1.6c4.2,4.3,6.8,10.1,6.8,16.5 C147.3,139.2,135.8,150.2,121.7,150.2z M147.3,73.9V100c0,2.5-1.7,4.7-4.1,5.5c-4.8-4.6-11.2-7.7-18.4-8.4c-1-0.1-2-0.1-3-0.1 c-8.5,0-16.2,3.4-21.7,8.8c0,0,0,0-0.1,0H23.3c-3.3,0-6.1-2.6-6.1-5.8V73.9c0-3.2,2.7-5.8,6.1-5.8h117.9 C144.5,68.1,147.3,70.7,147.3,73.9z M23.3,63.6c-3.3,0-6.1-2.6-6.1-5.8V31.7c0-3.2,2.7-5.8,6.1-5.8h117.9c3.3,0,6.1,2.6,6.1,5.8 v26.1c0,3.2-2.7,5.8-6.1,5.8H23.3z"></path> <path fill="#F95265" d="M37,96.9c5.8,0,10.4-4.5,10.4-10c0-5.5-4.7-10-10.4-10s-10.4,4.5-10.4,10C26.5,92.4,31.2,96.9,37,96.9z M37,81.4c3.2,0,5.8,2.5,5.8,5.5c0,3.1-2.6,5.5-5.8,5.5s-5.8-2.5-5.8-5.5C31.2,83.9,33.8,81.4,37,81.4z"></path> <ellipse fill="#21294D" cx="128.7" cy="83.6" rx="2.3" ry="2.2"></ellipse> <ellipse fill="#21294D" cx="119.4" cy="83.6" rx="2.3" ry="2.2"></ellipse> <ellipse fill="#21294D" cx="133.3" cy="90.3" rx="2.3" ry="2.2"></ellipse> <ellipse fill="#21294D" cx="124" cy="90.3" rx="2.3" ry="2.2"></ellipse> <ellipse fill="#21294D" cx="110.1" cy="83.6" rx="2.3" ry="2.2"></ellipse> <ellipse fill="#21294D" cx="114.8" cy="90.3" rx="2.3" ry="2.2"></ellipse> <ellipse fill="#21294D" cx="100.8" cy="83.6" rx="2.3" ry="2.2"></ellipse> <ellipse fill="#21294D" cx="105.5" cy="90.3" rx="2.3" ry="2.2"></ellipse> <ellipse fill="#21294D" cx="91.5" cy="83.6" rx="2.3" ry="2.2"></ellipse> <ellipse fill="#21294D" cx="96.2" cy="90.3" rx="2.3" ry="2.2"></ellipse> <path fill="#F95265" d="M37,119.1c-5.8,0-10.4,4.5-10.4,10s4.7,10,10.4,10s10.4-4.5,10.4-10S42.7,119.1,37,119.1z M37,134.6 c-3.2,0-5.8-2.5-5.8-5.5c0-3.1,2.6-5.5,5.8-5.5s5.8,2.5,5.8,5.5C42.8,132.2,40.2,134.6,37,134.6z"></path> </g> </svg>
					</div>
					<div class="right_part">
						<h5>Choix d'hebergement responsable</h5>
						<p>Nous mettons en place des solutions d'hebergement via des espaces sécurisés , vous évitant différents problèmes liés à la plateforme ou à votre espace vitrine</p>
					</div>
				</div>







			</div>
		</section>

		<section class="first_section">
			<div class="right_part">
				<div class="title">
					<h2>Pourquoi choisir Pakadan pour la reservation d'un espace vitrine</h2>
					<div class="line"></div>
				</div>
				<div class="description">
					<p class="paragraph1">
						Nous vous proposons des solutions durables dans votre processus de visibilité en ligne. Avec des prix assez élevés des hébergements pour un simple site web, Pakadan s’occupe de votre présence en ligne et vous ne payez qu’une petite somme pour les frais de maintenance
					</p>
					<p>
						Si vous n’avez pas un budget considérable pour faire connaître votre marque , vos produits ou services en ligne , Pakadan vous propose de meilleurs services correspondant à votre budget
					</p>
				</div>
				<div class="btn_action">
					<a href="#contact">Nous contacter</a>
				</div>
			</div>
			<div class="left_part">
				<div class="image">
					<img src="/images/imageSection8.jpg" alt="">
				</div>
			</div>

		</section>

		<section class="third_section">
			<div class="title">
				<h2>La garantie de Pakadan</h2>
				<div class="line"></div>
				<p class="title_description">
					Lorsque vous avez un compte chez Pakadan , vous permettant de gérer votre espace vitrine , vos données ne seront accessibles que par vous. La protection de vos données et la confidentialité de terme notre contrat est notre priorité
				</p>
				<p>
					Un service client , est disponible à tout moment pour répondre à vos préoccupations, préservant votre relation avec nous.
					Nous veuillons à une maintenance régulière de votre espace.
				</p>
			</div>
		</section>
		<section class="third_section">
			<div class="title title_pos_right">
				<h2>Processus de reservation d'espace vitrine</h2>
				<div class="line"></div>
			</div>
			<ul class="process_list">
					<li>
						<svg aria-hidden="true" fill="none" focusable="false" height="20px" viewbox="0 0 16 16" width="20px" id="cds-react-aria-303" class="css-1qgnve6">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M15.74 3.672L6.225 14.168.323 8.736l1.354-1.472 4.419 4.068 8.163-9.004 1.482 1.344z" fill="currentColor"></path>
						</svg>
						<span>La personne physique ou morale nous contacte par le formulaire de contact ou en faisant une demande de reservation dans laquelle elle exprime ses bésoins</span>
					</li>
					<li>
						<svg aria-hidden="true" fill="none" focusable="false" height="20px" viewbox="0 0 16 16" width="20px" id="cds-react-aria-303" class="css-1qgnve6">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M15.74 3.672L6.225 14.168.323 8.736l1.354-1.472 4.419 4.068 8.163-9.004 1.482 1.344z" fill="currentColor"></path>
						</svg>
						<span>Le service client de Pakadan , lui contactera par email ou whatsapp pour lui faire part des termes de contrat</span>
					</li>
					<li>
						<svg aria-hidden="true" fill="none" focusable="false" height="20px" viewbox="0 0 16 16" width="20px" id="cds-react-aria-303" class="css-1qgnve6">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M15.74 3.672L6.225 14.168.323 8.736l1.354-1.472 4.419 4.068 8.163-9.004 1.482 1.344z" fill="currentColor"></path>
						</svg>
						<span>S'il y a entente entre les deux parties , le client recevra un email , contenant un identifiant et un mot de passe pour se connecter à l'espace administrateur et pour gérer son espace</span>
					</li>
					<li>
						<svg aria-hidden="true" fill="none" focusable="false" height="20px" viewbox="0 0 16 16" width="20px" id="cds-react-aria-303" class="css-1qgnve6">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M15.74 3.672L6.225 14.168.323 8.736l1.354-1.472 4.419 4.068 8.163-9.004 1.482 1.344z" fill="currentColor"></path>
						</svg>
						<span>Une période d'essai d'un mois lui sera accordé pour tester sa visibilité en ligne et après les identifiants seronts obsolètes jusqu'au paiement de l'abonnement</span>
					</li>
					<li>
						<svg aria-hidden="true" fill="none" focusable="false" height="20px" viewbox="0 0 16 16" width="20px" id="cds-react-aria-303" class="css-1qgnve6">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M15.74 3.672L6.225 14.168.323 8.736l1.354-1.472 4.419 4.068 8.163-9.004 1.482 1.344z" fill="currentColor"></path>
						</svg>
						<span>La personne ne paiera que l'abonnement , les frais de maintenance et d'hebergement sont assurés par nous</span>
					</li>
			</ul>
		</section>
		<section class="fourth_section">
			<div class="title">
				<h2>Les parties d’un espace vitrine</h2>
				<div class="line"></div>
				<p class="title_description">
					Un espace vitrine est constitué des parties essentielles qui lui permettent de s'approprier l'aspect d'une vitrine
				</p>

			</div>
			<div class="container_page_content">

				<div class="page_content">
					<div class="left">
						<h4>Section accueil</h4>
						<div class="content">
							Elle contient une brève présentation de l'entreprise 
						</div>
					</div>
					<div class="right">
						<div class="image">
							<img src="/images/accueil.png" alt="">
						</div>
					</div>
				</div>
				<div class="page_content">
					<div class="left">
						<h4>Section produits</h4>
						<div class="content">
							Cette section contient des produits commercialisés par l'entreprise
						</div>
					</div>
					<div class="right">
						<div class="image">
							<img src="/images/produit.png" alt="">
						</div>
					</div>
				</div>
				<div class="page_content">
					<div class="left">
						<h4>Section services</h4>
						<div class="content">
							Elle renferme les services que l'entreprise offre
						</div>
					</div>
					<div class="right">
						<div class="image">
							<img src="/images/service.png" alt="">
						</div>
					</div>
				</div>
				<div class="page_content">
					<div class="left">
						<h4>Section contact</h4>
						<div class="content">
							Elle contient un formulaire de contact , pour contacter l'entreprise en cas de besoin
						</div>
					</div>
					<div class="right">
						<div class="image">
							<img src="/images/contact.png" alt="">
						</div>
					</div>
				</div>


			</div>
		</section>
		<section class="fifth_section">
			<div class="title">
				<h2>Quel type de site vitrine choisir ?</h2>
				<div class="line"></div>
				<p class="title_description">
					Pakadan vous propose deux types de site vitrine, vous donnant la possibilité de marquer votre visibilité en ligne selon vos besoins
				</p>

				<div class="container_showcase">
					<div class="showcase">
						<div class="title_show_case">
							<h4>Espace vitrine type Portfolio</h4>
						</div>
						<div class="description">
							<p>
								Cet espace a pour objectif de montrer vos réalisations et compétences professionnelles. Elle comprend une présentation de projets antérieurs avec des images et descriptions, témoignages de clients pour renforcer votre crédibilité, la section "À propos" qui explique qui vous êtes et ce que vous faites.
								avec notre plateforme vous verrez nos meilleures réalisations et  nous vous donnerons la possibilité de mettre en valeur votre style et votre approche.
								notre plateforme  servira de vitrine pour votre travail et vous aidera à obtenir des contrats ou des collaborations.

							</p>
							{# <p>
								Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe eaque excepturi rerum libero impedit, eos sapiente voluptas atque suscipit vel omnis quisquam culpa, totam dolores maxime quibusdam obcaecati deleniti blanditiis.
							</p> #}
						</div>
					</div>
					<div class="showcase">
						<div class="title_show_case">
							<h4>Espace vitrine type Landing Page</h4>
						</div>
						<div class="description">
							<p>
								Landing Page a pour Objectif de Capturer l’attention des visiteurs et les inciter à effectuer une action soit en remplissant un formulaire, s’inscrire à une newsletter. Vous verrez un message accrocheur, Un visuel percutant (image ou vidéo), Un appel à l'action clair.
								Ce landing page sera conçue pour convertir les visiteurs en clients ou en abonnés. 

							</p>
							<p>
								Elle se concentre sur un objectif précis, comme une inscription à une newsletter, un téléchargement de document ou un achat de produit.
								notre landing page élimine les distractions et guide les visiteurs vers l'action souhaitée.
								pouvez suivre les performances de vos landing pages et optimiser votre stratégie.: Vous pouvez utiliser différentes landing pages pour différentes campagnes et tester différents messages et offres
							</p>
						</div>
					</div>
				</div>

			</div>
		</section>


		<section class="sixth_section">
			<div class="title">
				<h2>Tarif pour la reservation d'espace vitrine</h2>
				<div class="line"></div>
			</div>
			<div class="container_card_subscription">
				<div class="card_subscription first_card_subscription">
					<div class="content_card_subscription">
						<h3>Espace vitrine type Portfolio</h3>
						<div class="short_description">
							<p>Profitez des avantages offerts par Pakadan , pour votre espace vitrine PortFolio</p>
						</div>
						<div class="price_level">
							<span>
								<span>USD</span>
								<span class="active">11.43</span>
							</span>
						</div>
						<div class="container_advantage">
							<div class="advantage">
								<svg aria-hidden="true" fill="none" focusable="false" height="25px" viewbox="0 0 16 16" width="25px" id="cds-react-aria-303" class="css-1qgnve6">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M15.74 3.672L6.225 14.168.323 8.736l1.354-1.472 4.419 4.068 8.163-9.004 1.482 1.344z" fill="currentColor"></path>
								</svg>
								<span>Zéro frais de conception</span>
							</div>
							<div class="advantage">
								<svg aria-hidden="true" fill="none" focusable="false" height="25px" viewbox="0 0 16 16" width="25px" id="cds-react-aria-303" class="css-1qgnve6">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M15.74 3.672L6.225 14.168.323 8.736l1.354-1.472 4.419 4.068 8.163-9.004 1.482 1.344z" fill="currentColor"></path>
								</svg>
								<span>Zéro frais de maintenance</span>
							</div>
							<div class="advantage">
								<svg aria-hidden="true" fill="none" focusable="false" height="25px" viewbox="0 0 16 16" width="25px" id="cds-react-aria-303" class="css-1qgnve6">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M15.74 3.672L6.225 14.168.323 8.736l1.354-1.472 4.419 4.068 8.163-9.004 1.482 1.344z" fill="currentColor"></path>
								</svg>
								<span>Jusqu'a 5Go de stockage de fichier</span>
							</div>
						</div>
					</div>
				</div>
				<div class="card_subscription">
					<div class="content_card_subscription">
						<small class="top_card">Le plus couramment acheté</small>
						<h3>Espace vitrine type Landing Page</h3>
						<div class="short_description">
							<p>Un espace vitrine reservé par nombreux de nos utilisateurs , bénéficiant des fonctionnalités importantes</p>
						</div>
						<div class="price_level">
							<span>
								<span>USD</span>
								<span class="active">19.68</span>
							</span>
						</div>
						<div class="container_advantage">
							<div class="advantage">
								<svg aria-hidden="true" fill="none" focusable="false" height="25px" viewbox="0 0 16 16" width="25px" id="cds-react-aria-303" class="css-1qgnve6">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M15.74 3.672L6.225 14.168.323 8.736l1.354-1.472 4.419 4.068 8.163-9.004 1.482 1.344z" fill="currentColor"></path>
								</svg>
								<span>Zéro frais de conception</span>
							</div>
							<div class="advantage">
								<svg aria-hidden="true" fill="none" focusable="false" height="25px" viewbox="0 0 16 16" width="25px" id="cds-react-aria-303" class="css-1qgnve6">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M15.74 3.672L6.225 14.168.323 8.736l1.354-1.472 4.419 4.068 8.163-9.004 1.482 1.344z" fill="currentColor"></path>
								</svg>
								<span>Zéro frais de maintenace</span>
							</div>
							<div class="advantage">
								<svg aria-hidden="true" fill="none" focusable="false" height="25px" viewbox="0 0 16 16" width="25px" id="cds-react-aria-303" class="css-1qgnve6">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M15.74 3.672L6.225 14.168.323 8.736l1.354-1.472 4.419 4.068 8.163-9.004 1.482 1.344z" fill="currentColor"></path>
								</svg>
								<span>Jusqu'à 15Go de stockage des fichiers</span>
							</div>
							<div class="advantage">
								<svg aria-hidden="true" fill="none" focusable="false" height="25px" viewbox="0 0 16 16" width="25px" id="cds-react-aria-303" class="css-1qgnve6">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M15.74 3.672L6.225 14.168.323 8.736l1.354-1.472 4.419 4.068 8.163-9.004 1.482 1.344z" fill="currentColor"></path>
								</svg>
								<span>Service client disponible 24h/24h</span>
							</div>
							<div class="advantage">
								<svg aria-hidden="true" fill="none" focusable="false" height="25px" viewbox="0 0 16 16" width="25px" id="cds-react-aria-303" class="css-1qgnve6">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M15.74 3.672L6.225 14.168.323 8.736l1.354-1.472 4.419 4.068 8.163-9.004 1.482 1.344z" fill="currentColor"></path>
								</svg>
								<span>Référencement en ligne assez élevé </span>
							</div>
							{# <div class="advantage">
								<svg aria-hidden="true" fill="none" focusable="false" height="25px" viewbox="0 0 16 16" width="25px" id="cds-react-aria-303" class="css-1qgnve6">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M15.74 3.672L6.225 14.168.323 8.736l1.354-1.472 4.419 4.068 8.163-9.004 1.482 1.344z" fill="currentColor"></path>
								</svg>
								<span>Lorem ipsum dolor sit amet consectetur adipisicing elit</span>
							</div> #}
						</div>
					</div>
				</div>


				<div class="card_subscription">
					<div class="content_card_subscription">
						<h3>Espace vitrine avec options spécifiques(selon le cahier de charge)</h3>
						<div class="short_description">
							<p>Si vous avez besoin de plus qu'un espace vitrine pour votre visibilité ? Vous voulez qu'on respecte votre cahier de charge , passez votre commande</p>
						</div>
						<div class="price_level">
							<span>
								<span>Sur</span>
								<span class="active">commande</span>
							</span>
						</div>
						<div class="container_advantage">
							<div class="advantage">
								<svg aria-hidden="true" fill="none" focusable="false" height="25px" viewbox="0 0 16 16" width="25px" id="cds-react-aria-303" class="css-1qgnve6">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M15.74 3.672L6.225 14.168.323 8.736l1.354-1.472 4.419 4.068 8.163-9.004 1.482 1.344z" fill="currentColor"></path>
								</svg>
								<span>
									Frais de conception
								</span>
							</div>
							<div class="advantage">
								<svg aria-hidden="true" fill="none" focusable="false" height="25px" viewbox="0 0 16 16" width="25px" id="cds-react-aria-303" class="css-1qgnve6">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M15.74 3.672L6.225 14.168.323 8.736l1.354-1.472 4.419 4.068 8.163-9.004 1.482 1.344z" fill="currentColor"></path>
								</svg>
								<span>Frais de maintenance</span>
							</div>
							<div class="advantage">
								<svg aria-hidden="true" fill="none" focusable="false" height="25px" viewbox="0 0 16 16" width="25px" id="cds-react-aria-303" class="css-1qgnve6">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M15.74 3.672L6.225 14.168.323 8.736l1.354-1.472 4.419 4.068 8.163-9.004 1.482 1.344z" fill="currentColor"></path>
								</svg>
								<span>Frais d'hebergement</span>
							</div>
							<div class="advantage">
								<svg aria-hidden="true" fill="none" focusable="false" height="25px" viewbox="0 0 16 16" width="25px" id="cds-react-aria-303" class="css-1qgnve6">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M15.74 3.672L6.225 14.168.323 8.736l1.354-1.472 4.419 4.068 8.163-9.004 1.482 1.344z" fill="currentColor"></path>
								</svg>
								<span>Capacité de stockage de fichier selon votre besoin</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="current_questions">
			<div class="title">
				<h2>Questions fréquemment posées</h2>
				<div class="line"></div>
			</div>
			<div class="container_current_questions">

					<div class="item_question" x-data="{open:false}">
						<div class="header" @click="open = !open" :class="open ? 'active': ''">
							<span>Comment vous contacter pour reserver un espace vitrine</span>
							<svg :class="open ? 'rotate_open': ''" width="20px" height="20px" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
								<path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5"/>
							</svg>
						</div>
						<div class="response_content" x-show="open" style="display:none;" :class="open ? 'open_content': ''" @click.outside="open=false">
							<p>Remplissez le formulaire de contact , puis envoyer, nous recevrons votre message et nous vous contacterons par email pour les prochaines directives</p>
							<p>Vous pouvez aussi cliquer sur RESERVER pour nous contacter</p>
						</div>
					</div>
					<div class="item_question" x-data="{open:false}">
						<div class="header" @click="open = !open" :class="open ? 'active': ''">
							<span>Comment gérer son espace vitrine</span>
							<svg :class="open ? 'rotate_open': ''" width="20px" height="20px" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
								<path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5"/>
							</svg>
						</div>
						<div class="response_content" x-show="open" style="display:none;" :class="open ? 'open_content': ''" @click.outside="open=false">
							<p>Pour gérer votre espace vitrine , vous devez avoir un identifiant et un mot de passe de connexion pour accéder à l'espace de gestion de votre vitrine;vous permettant d'ajouter , de modifier et de supprimer du contenu de la vitrine</p>
						</div>
					</div>
					<div class="item_question" x-data="{open:false}">
						<div class="header" @click="open = !open" :class="open ? 'active': ''">
							<span>Comment avoir mon identifiant et un mot de passe</span>
							<svg :class="open ? 'rotate_open': ''" width="20px" height="20px" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
								<path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5"/>
							</svg>
						</div>
						<div class="response_content" x-show="open" style="display:none;" :class="open ? 'open_content': ''" @click.outside="open=false">
							<p>Pour recevoir l'identifiant et le mot de passe , vous devez remplir le formulaire de contact et envoyer. Le service client vous contactera par email pour remplir les différentes formalités. Si vous êtes éligibleset en éffectuant le premier paiement vous recevrez un identifiant et un mot de passe</p>
						</div>
					</div>



			</div>
		</section>

	</div>
	<section class="make_reservation">
		<div class="rerservation_item">
			<h2 class="first_title">Faites la reservation d'une reservation de votre choix</h2>
			<p>Pakadan vous donne la possibilté d'être visible en ligne sans beaucoup dépenser, prenant en charge certains frais qui sont couramment élevés pour la mise en ligne</p>
			<div class="link_reserve">
				<a href="{{path('app_requests')}}">Reserver un espace vitrine</a>
			</div>
		</div>
	</section>
	<section class="container_services_section container_services_section_home" id="contact">
		<div class="title">
			<h2>Prenez contact
			</h2>
			<div class="line"></div>
		</div>

		<div class="container_contact">
			<form action="{{path('app_contact_site')}}" method="post">
				<div class="group_input">
					<div class="input">
						<label for="">Noms *</label>
						<input type="text" name="noms" id="" required>
					</div>
				</div>
				<div class="group_input">
					<div class="input">
						<label for="">Email *</label>
						<input type="email" name="email" id="" required>
					</div>
					<div class="input">
						<label for="">Téléphone *</label>
						<input type="text" name="telephone" id="" required>
					</div>
				</div>
				<div class="input">
					<label for="">Sujet du message</label>
					<input type="text" name="subject" id="" required>
				</div>
				<div class="input">
					<label for="">Votre message</label>
					<textarea name="message" id="message" required></textarea>
				</div>

				<div class="input_submit">
					<button type="submit">Envoyer</button>
				</div>
			</form>
		</div>
	</section>

{% endblock %}
