{% extends 'base.html.twig' %}

{% block title %}Pakadan | Factory
{% endblock %}

{% block body %}
	{% if category is not empty %}
		<div class="container_categories">
			<section class="main_section_category">
				<div class="category">
					<h1>{{category.name}}</h1>
					<div class="description">
						<p>{{category.description}}</p>
					</div>
					<div class="contact_us">
						<a href="">Nous contacter</a>
					</div>
				</div>
			</section>
			{{component("factoriesComponent",{category: category})}}
		</div>
	{% endif %}
{% endblock %}
