{% extends 'base.html.twig' %}

{% block title %}Pakadan | Factory
{% endblock %}

{% block body %}
	{% if category %}
		<div class="container_categories">
			<section class="main_section_category">
				<div class="category">
					<h1>{{category.name}}</h1>
					<div class="description">
						<p>{{category.description}}</p>
					</div>
					<div class="contact_us">
						<a href="">Nous contacter</a>
					</div>
				</div>
			</section>

			<div class="factories">
				<section class="container_factories">
					<div class="container_factories_categories">
						<div class="title">
							<h2>Catégories</h2>
							<div class="line"></div>
						</div>
						<div class="factory_category">
							<a href="">Tous</a>
							{% for item in range(1,5,1) %}
								<a href="">Entreprises commerciales</a>
							{% endfor %}
						</div>
					</div>

					<div class="container_list_items">
						{% for item in range(1,6,1) %}
							<div class="item_list">
								<div class="logo">
									<div class="image">
										<img src="/images/factory{{item}}.jpg" alt="category">
									</div>
								</div>
								<div class="right_part">
									<div class="item_name">
										<h4>Oxy(Logistic, Ressources , Studies)</h4>
										<strong>Entreprise commerciale</strong>
									</div>
									<div class="description">
										<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit ad corporis eum sint? Vitae consectetur modi libero adipisci, quibusdam, consequuntur debitis temporibus porro nesciunt nobis eligendi pariatur, asperiores iste nemo!</p>
									</div>
									<div class="address">
										<p>Av P.E Lumumba N° 243</p>
									</div>
									<div class="visit_space">
										<a href="">Visiter la vitrine</a>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>

				</section>
			</div>
		</div>
	{% endif %}
{% endblock %}
