{% extends 'base.html.twig' %}

{% block title %}Pakadan | Admin{% endblock %}

{% block body %}
    <div class="container_admin_home">
        <div {{svelte_component("HomeAnimation")}}></div>
    </div>
{% endblock %}
