@import "./mixins.scss";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: "Nunito Sans", sans-serif;
}
$rem: 10px;
:root{
    --color_primary:rgb(236 ,90 ,19);
    --color_secondary:rgb(21 ,34 ,51);
    --color_primary_overed:rgb(240 ,123 ,66);
    --color_form : rgb(239, 239, 239);
    --color_form_bold : rgb(225, 225, 225);
    --color_smoke : rgb(248, 248, 248);
    --color_form_opacity : rgb(249, 249, 249);
    --color_smoke_opacity : rgb(253, 253, 253);
    --color_white: rgb(254,254,254);
    --color_black: #111;
    --color_black_secondary: #111111;
    --color_link: #152233;
    --color_box_shadow:rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}


.overlay{
    position: fixed;
    top: 0;
    left: 0;
    background: var(--color_black);
    opacity: 0;
    width: 100%;
    height: 100vh;
    z-index: 99;
    visibility: hidden;
    transition: 0.6s;
    

    &.active{
        opacity: 0.8;
        visibility: visible;
        transition: 0.6s;
    }
}
nav{
    width: 100%;
    background: var(--color_white);
    header{
        border-bottom: 1px solid var(--color_form);
        background: var(--color_white);

        .container_navigation_bar{
            width: 90%;
            margin: auto;
        }


        .navigation_bar{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: $rem 4*$rem;
        background: var(--color_white);


            .logo{
                h3{
                    font-size: 3*$rem;
                    color: var(--color_primary);
                    font-weight: 900;
                }
            }
           
            .publish_service{
                text-decoration: none;
                color: var(--color_white);
                padding: 1.1*$rem 2*$rem;
                font-weight: 600;
                @include border_radius(0.8*$rem);
                background: var(--color_primary);
                font-size: 1.6*$rem;
                font-weight: 600;

                &:hover{
                    background: var(--color_primary_overed);
                    transition: 0.2s;
                }
               

                .post_products{
                    display: flex;
                    gap: $rem;
                    align-items: center;
                }
            }
            .container_search{
                width: 40%;
                .input{
                    position: relative;
                    width: 100%;
                    input{
                        padding: 1.2*$rem 5*$rem 1.2*$rem 1.2*$rem;
                        background: var(--color_smoke);
                        @include border_radius($rem);
                        border: none;
                        width: 100%;
                        font-size: 1.6*$rem;
                        transition: 0.6s;

                        &.active{
                            border: 1px solid var(--color_primary);
                            transition: 0.6s;
                        }


                    }
                    svg{
                        cursor: pointer;
                        background: var(--color_primary);
                        padding: 0.8*$rem;
                        @include border_radius(0.8*$rem);
                        position: absolute;
                        color: var(--color_white);
                        top: 50%;
                        right: -2%;
                        @include transform_translate_center(50% , 50%);

                        &:hover{
                            background: var(--color_primary_overed);
                            transition: 0.2s;
                        }
                    }
                }
            }
            .container_item_annexe{
                display: flex;
                align-items: center;
                gap: $rem;
                a{
                    text-decoration: none;
                    color: var(--color_black);
                    position: relative;

                    &::after{
                        content: '';
                        height: 0.4*$rem;
                        transform: translate(-50% , 50%) ;
                        background: var(--color_primary);
                        position: absolute;
                        left: 50%;
                        bottom: -5%;
                        transition: 0.4s;
                        width: 0;
        
                    }
                    &:hover{
                        &::after{
                            background: var(--color_primary);
                            transition: 0.4s;
                            width: 100%;
                        }
                    }
                    .item_annexe{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        cursor: pointer;

                        span{
                            font-size: 1.3*$rem;
                        }
                    }
                }
            }
        }
        .sub_navigation_bar{
            border: none;
            .bottom_nav{
                padding: $rem 4*$rem 0rem;
                
                .list_categories{
                    width: 100%;
                    display: flex;
                    gap: 2*$rem;
                    border: none;
                    align-items: center;


                    button{
                        border: none;
                        background: none;
                        cursor: pointer;
                        padding: 0rem 0rem $rem;
                        display: flex;
                        justify-items: center;
                        align-items: center;
                    }
                    a{
                        text-decoration: none;
                        color: var(--color_link);
                        font-size: 1.4*$rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: $rem;
                        position: relative;
                        padding: 0rem 0rem $rem;
    
                        &::after{
                            content: '';
                            height: 0.4*$rem;
                            transform: translate(-50% , 50%) ;
                            background: var(--color_primary);
                            position: absolute;
                            left: 50%;
                            bottom: -15%;
                            transition: 0.4s;
                            width: 0;
            
                        }
                        &:hover{
                            &::after{
                                background: var(--color_primary);
                                transition: 0.4s;
                                width: 100%;
                            }
                        }
    
                        small{
                            width: 3px;
                            height: 3px;
                            @include border_radius(50%);
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background: var(--color_black);
    
                        }
                        li{
                            list-style-type: none;
                            color: var(--color_link);
                            gap: 2*$rem;
    
                        }
                    }
                }
            }
        }
    }
}

.left_navigation_bar{
    position: fixed;
    top: 0;
    left: 0;
    width: 36*$rem;
    height: 100vh;
    background: var(--color_white);
    z-index: 999;
    margin-left: -100%;
    transition: 2s;
    

    &.show{
        margin-left: 0%;
        transition: 0.4s;

        
    }

    .container_left_navigation{
        position: relative;
        // overflow: hidden;
        .exit{
            position: absolute;
            top: 0.5*$rem;
            right: -4*$rem;
            color: var(--color_white);
            cursor: pointer;
        }
    }
   
    .header{
        display: flex;
        gap: $rem;
        padding: $rem 2*$rem;
        align-items: center;
        background: var(--color_secondary);
        color: var(--color_white);

       
    }
    .container_parent_all_sub_items{
        overflow: hidden;
    }
    
    .container_sub_items{
        height: 100vh;
        overflow: auto;
        padding-bottom: 8*$rem;
        width: 36*$rem;


        .sub_items{
            .item_title{
                padding: $rem 2*$rem;
                span{
                    font-size: 1.8*$rem;
                    color: var(--color_black);
                    font-weight: 700;
                }
            }
            .container_items{
                ul{
                    a{
                        text-decoration: none;
                        color: var(--color_black_secondary);
                        width: 100%;
                        font-weight: 600;
                        opacity: 0.8;
                        li{
                            padding: $rem 2*$rem;
                            list-style-type: none;
                            width: 100%;
                            

                            &:hover{
                                background: var(--color_form);
                                font-weight: 700;
                                transition: 0.3s;
                            }
                        }

                    }
                    .special_list{
                        button{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            padding: $rem 2*$rem;
                            cursor: pointer;
                            color: var(--color_black);
                            opacity: 0.8;
                            font-weight: 600;
                            width: 100%;
                            background: none;
                            font-size: 1.6*$rem;
                            color: var(--color_black_secondary);

                        &:hover{
                            background: var(--color_form_bold);
                            font-weight: 700;
                            transition: 0.3s;
                        }
                        }

                        svg{
                            color: var(--color_black);
                            font-weight: 700;
                            
                        }
                    }
                    
                }
            }
        }
    }
    .container_all_sub_items{
        
        display: flex;
        flex-wrap: nowrap;
        overflow: hidden;
        width: 80*$rem;
    }
    
    .container_sub_items_main {
        width: 36*$rem;
        transition: 0.4s;
       &.goLeft{
            margin-left: -36*$rem;
            transition: 0.4s;
       }
    }
    .container_sub_items_secondary {
        transition: 0.4s;
        width: 36*$rem;
       &.goSide{
            margin: 0;
            transition: 0.4s;
       }
      
       .sub_items{
        .item_title{
            display: flex;
            gap: $rem;
            align-items: center;
            background: none;
            border: none;
            width: 100%;
            cursor: pointer;

           
        }
        button{
            &:hover{
                background: var(--color_form_bold);
            }
        }
       }
    }
    
}


.container_sections_home_page{
    width: 85%;
    margin: auto;
    .pubs_section{
        display: flex;
        border: 1px solid var(--color_black);
        margin: 5*$rem auto;


        .image_pub_section{
            width: 50%;
            height: 25*$rem;
            border-right: 1px solid var(--color_black_secondary);
            padding: 2*$rem $rem;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .description_pub_section{
            padding: 2*$rem 0rem;
            h2{
                padding: $rem $rem 3*$rem;
                font-size: 3*$rem;
                color: var(--color_black_secondary);
                opacity: 0.7;
            }
            h4{
                font-size: 2*$rem;
                color: var(--color_black_secondary);
                opacity: 0.9;
                padding: $rem ;
                border-bottom: 1px solid var(--color_black_secondary);
            }
            .web_site_link{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 1.5*$rem $rem;

                .name_web_site{
                    a{
                        text-decoration: underline;
                        color: var(--color_black_secondary);
                        font-weight: 600;
                    }
                }

                .link_web_site{
                    a{
                        text-decoration: none;
                        color: var(--color_black_secondary);
                        padding: 0.5*$rem $rem;
                        color: var(--color_white);
                        background: var(--color_primary_overed);
                        @include border_radius($rem);
                    }
                }
            }
        }
    }

    .top_factories_section{
        padding: $rem 0rem 8*$rem;
        .title{
            padding-bottom: 2*$rem;
            h2{
                font-size: 3.2*$rem;
                padding-bottom: 2*$rem;
            }
            .line{
                width: 10%;
                height: 2px;
                background: var(--color_primary);
            }
        }
        .container_top_factories{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(20*$rem, 1fr));

            .image{
                width: 100%;
                height: 12*$rem;
                @include border_radius($rem);
                overflow: hidden;
                position: relative;
                cursor: pointer;
                margin: 0;

                &:after{
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(to top ,#000000  0% ,#101010 10% ,#101010 20%  , #969393 50%,  #aeacac 80%);
                    opacity: 0.6;
                    // background: black;
                    z-index: 9;
                    transition: 0.5s;

                    
                }

                img{
                    width: 100%;
                    height: 100%;
                }
                span{
                    position: absolute;
                    left: 50%;
                    bottom: 0;
                    @include transform_translate_center(50%, 50%);
                    color: var(--color_white);
                    font-weight: 800;
                    opacity: 1;
                    z-index: 99;
                    font-size: 1.8*$rem;
                }
            }
        }
    }


    .first_section{
        padding: $rem 0rem 8*$rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(40*$rem ,1fr));
        gap: 2*$rem;

        .left_part{
            .image{
                width: 100%;
                height: 32*$rem;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        .right_part{
            .title{
                padding-bottom: 2*$rem;
                h2{
                    font-size: 3.2*$rem;
                    padding-bottom: 2*$rem;
                }
                .line{
                    width: 20%;
                    height: 2px;
                    background: var(--color_primary);
                }
            }
            .description{
                p{
                    line-height: 3.2*$rem;
                    color: var(--color_black_secondary);
                }
                .paragraph1{
                    margin-bottom: 2*$rem;
                }
            }
            .btn_action{
                margin: 3*$rem 0rem $rem;
                a{
                    text-decoration: none;
                    color: var(--color_primary);
                    border: 2px solid var(--color_primary);
                    @include border_radius(2*$rem);
                    font-weight: 700;
                    padding: $rem 2*$rem;
                    transition: 0.5s;

                    &:hover{
                        background: var(--color_primary);
                        color: var(--color_white);
                        transition: 0.5s;
                    }
                }
            }

        }
    }

    .second_section{
        text-align: center;
        width: 100%;
        .title{
            padding-bottom: 2*$rem;
            h2{
                font-size: 3.2*$rem;
                padding-bottom: 2*$rem;
            }
            .line{
                width: 20%;
                height: 2px;
                background: var(--color_primary);
                margin: 0rem auto 3*$rem;
            }
            .title_description{
                line-height: 3.2*$rem;
                color: var(--color_secondary);
            }
        }
        .container_items{
            padding: $rem 0rem 8*$rem;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(40*$rem ,1fr));
            gap: 2*$rem;

            .item{
                display: flex;
                gap: 2*$rem;
                padding: 2*$rem;
                background: var(--color_smoke);

                .right_part{
                    h5{
                        padding-bottom: $rem;
                        font-size: 1.8*$rem;
                        text-align: left;
                    }
                    p{
                        line-height: 3.2*$rem;
                        color: var(--color_black_secondary);
                        text-align: left;

                    }
                }
            }
        }
    }
}