<div{{attributes}}>
	<div class="container_shopping_cart">
		<h1>Mon panier</h1>

        <div class="container_items_shopping_cart">
            <div class="items_shopping_cart">
                <h3>Factory</h3>
                <div class="container_items">
                    <div class="item">
                        <div class="left">
                        
                        </div>
                        <div class="left">
                        
                        </div>
                        <div class="left">
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>
